@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700,900|Muli:300,400,500,600,700,800,900&display=swap");

.apply-process-area .single-process .process-cap p {
  color: #a5aaca;
}
.apply-bg {
  background-size: cover;
  background-repeat: no-repeat;
}
.support-company-area .support-location-img {
  position: relative;
}
.support-company-area .support-location-img img {
  width: 100%;
}
.support-company-area .support-location-img .support-img-cap {
  position: absolute;
  bottom: 0px;
  background: #1f2b7b;
  padding: 59px 28px;
  border-radius: 5px;
  left: -100px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .support-company-area .support-location-img .support-img-cap {
    padding: 27px 18px;
    left: -59px;
  }
}
@media (max-width: 767px) {
  .support-company-area .support-location-img .support-img-cap {
    left: 0px;
    padding: 35px 0px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .support-company-area .support-location-img .support-img-cap {
    left: 0px;
    padding: 35px 18px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .support-company-area .support-location-img .support-img-cap {
    left: 0px;
    padding: 35px 18px;
  }
}
.support-company-area .support-location-img .support-img-cap span {
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Muli", sans-serif;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .support-company-area .support-location-img .support-img-cap span {
    padding: 6px 40px;
    font-size: 38px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .support-company-area .support-location-img .support-img-cap span {
    font-size: 35px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .support-company-area .support-location-img .support-img-cap span {
    font-size: 35px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .support-company-area .support-location-img .support-img-cap span {
    font-size: 35px;
  }
}
.support-company-area .support-location-img .support-img-cap P {
  color: #fff;
  line-height: 1;
  margin: 0;
  font-size: 20px;
}
.support-company-area .right-caption {
  position: relative;
  right: -50px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .support-company-area .right-caption {
    right: -25px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .support-company-area .right-caption {
    right: 0px;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .support-company-area .right-caption {
    right: 0px;
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .support-company-area .right-caption {
    right: 0px;
    margin-bottom: 40px;
  }
}
.support-company-area .right-caption .support-caption {
  padding-right: 144px;
}
@media (max-width: 767px) {
  .support-company-area .right-caption .support-caption {
    padding-right: 0px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .support-company-area .right-caption .support-caption {
    padding-right: 0px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .support-company-area .right-caption .support-caption {
    padding-right: 70px;
  }
}
.support-company-area .right-caption .support-caption p {
  margin-bottom: 46px;
  font-size: 15px;
}
.support-company-area .right-caption .support-caption p.pera-top {
  font-size: 17px;
  font-weight: 700;
  color: #0b0b2b;
}
.single-job-items {
  padding: 36px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-job-items {
    padding: 20px 7px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single-job-items {
    padding: 20px 25px;
  }
}
.single-job-items .company-img img {
  overflow: hidden;
  float: left;
  margin-right: 32px;
  z-index: 999;
}
@media (max-width: 767px) {
  .single-job-items .job-tittle {
    padding-top: 25px;
  }
}
.single-job-items .job-tittle a h4 {
  color: #28395a;
  font-size: 24px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.single-job-items .job-tittle a h4:hover {
  color: #8b92dd;
}
.single-job-items .job-tittle ul li {
  display: inline-block;
  margin-right: 48px;
  font-size: 15px;
  color: #808080;
  line-height: 1.8;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-job-items .job-tittle ul li {
    margin-right: 18px;
  }
}
@media (max-width: 767px) {
  .single-job-items .job-tittle ul li {
    margin-right: 0px;
    margin-bottom: 7px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single-job-items .job-tittle ul li {
    margin-right: 8px;
  }
}
.single-job-items .job-tittle ul li:last-child {
  margin-right: 0px;
}
.single-job-items .job-tittle ul li i {
  font-size: 14px;
  color: #bbbbbb;
  margin-right: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-job-items .job-tittle2 {
    padding-top: 25px;
  }
}
.single-job-items:hover {
  box-shadow: 0px 22px 57px 0px rgba(34, 41, 72, 0.05);
}
.single-job-items .job-items {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .items-link {
    padding-top: 35px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .items-link {
    padding-top: 35px;
    text-align: center;
  }
}
.items-link a {
  color: #8b92dd;
  display: block;
  border: 1px solid #8b92dd;
  border-radius: 30px;
  padding: 4px 33px;
  text-align: center;
  margin-bottom: 25px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .items-link a {
    padding: 4px 19px;
  }
}
.items-link a:hover {
  /* color: #fff; */
  background: #8b92dd;
  border: 1px solid transparent;
}
.items-link span {
  color: #454d72;
  display: block;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .items-link2 {
    padding-top: 35px;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .items-link2 {
    padding-top: 35px;
    text-align: center;
  }
}
.testimonial-area {
  background-size: cover;
  background-repeat: no-repeat;
}
.testimonial-area .testimonial-caption .testimonial-top-cap img {
  margin-bottom: 50px;
  width: auto;
  display: inline-block;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial-area .testimonial-caption .testimonial-top-cap img {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .testimonial-area .testimonial-caption .testimonial-top-cap img {
    margin-bottom: 30px;
  }
}
.testimonial-area .testimonial-caption .testimonial-top-cap p {
  color: #282828;
  font-weight: 300;
  line-height: 1.6;
  font-size: 24px;
  font-style: italic;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .testimonial-area .testimonial-caption .testimonial-top-cap p {
    font-size: 18px;
    line-height: 1.6;
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial-area .testimonial-caption .testimonial-top-cap p {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.7;
    padding: 0;
    font-size: 17px;
  }
}
@media (max-width: 767px) {
  .testimonial-area .testimonial-caption .testimonial-top-cap p {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.7;
    padding: 0 5px;
    font-size: 18px;
  }
}
.testimonial-area .testimonial-caption .testimonial-founder .founder-img img {
  margin-bottom: 30px;
  display: inline-block;
}
.testimonial-area .testimonial-caption .testimonial-founder .founder-img span {
  color: #3f4451;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  display: block;
  font-family: "Barlow", sans-serif;
  margin-bottom: 10px;
}
.testimonial-area .testimonial-caption .testimonial-founder .founder-img p {
  font-size: 14px;
  font-weight: 300;
}
.testimonial-area .dot-style .slick-dots {
  text-align: center;
  bottom: -58px;
  left: 0;
  right: 0;
  position: absolute;
}
.testimonial-area .dot-style .slick-dots li {
  display: inline-block;
}
.testimonial-area .dot-style .slick-dots button {
  text-indent: -100000px;
  height: 9px;
  width: 9px;
  border: 0;
  padding: 0;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
  background: #c0c0c0;
}
.testimonial-area .dot-style .slick-dots .slick-active button {
  background: #ff4357;
  background: #ff4357;
  height: 12px;
  width: 12px;
  position: relative;
  top: -1px;
}
.h1-testimonial-active button.slick-arrow {
  position: absolute;
  top: 50%;
  left: -133px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 0;
  padding: 0;
  z-index: 2;
  height: 45px;
  width: 45px;
  line-height: 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  background: #fb246a;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .h1-testimonial-active button.slick-arrow {
    left: -45px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .h1-testimonial-active button.slick-arrow {
    left: -45px;
  }
}
.h1-testimonial-active button.slick-next {
  left: auto;
  right: -133px;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .h1-testimonial-active button.slick-next {
    right: -45px;
  }
}
.h1-testimonial-active:hover button.slick-prev {
  left: -120px;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .h1-testimonial-active:hover button.slick-prev {
    left: -35px;
  }
}
.h1-testimonial-active:hover button.slick-next {
  right: -120px;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .h1-testimonial-active:hover button.slick-next {
    right: -37px;
  }
}
.h1-testimonial-active:hover button {
  opacity: 1;
  visibility: visible;
}
.t-bg {
  background: #021a47;
}
.slick-initialized .slick-slide {
  outline: 0;
}
.footer-area .footer-social2 a:hover {
  background: #fb246a;
  /* color: #7f7f7f; */
  border: 1px solid transparent;
}
.footer-area .footer-pera p {
  color: #868c98;
  padding-right: 52px;
  font-size: 16px;
  margin-bottom: 50px;
  line-height: 1.8;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-area .footer-pera p {
    padding-right: 0px;
  }
}
.footer-area .footer-pera.footer-pera2 p {
  padding: 0;
}
.footer-area .footer-tittle h4 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 29px;
  font-weight: 400;
  text-transform: uppercase;
}
.footer-area .footer-tittle ul li {
  color: #868c98;
  margin-bottom: 9px;
}
.footer-area .footer-tittle ul li a {
  color: #868c98;
  font-weight: 300;
}
.footer-area .footer-tittle ul li a:hover {
  color: #fb246a;
  padding-left: 5px;
}
.footer-area .footer-tittle-bottom span {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  margin-right: 11px;
}
@media (max-width: 767px) {
  .footer-area .footer-tittle-bottom span {
    font-size: 20px;
  }
}
.footer-area .footer-tittle-bottom p {
  display: inline-block;
  color: #fff;
}
.footer-area .footer-form {
  margin-top: 40px;
}
.footer-area .footer-form form {
  position: relative;
}
.footer-area .footer-form form input {
  width: 100%;
  height: 43px;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.footer-area .footer-form form .form-icon button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 13px 22px;
  background: #fb246a;
  line-height: 1;
  border-radius: 0 3px 3px 0;
}
.footer-area .info.error {
  color: #fb246a;
}
.footer-bg {
  background: #010b1d;
}
.footer-bottom-area .footer-border {
  border-top: 1px solid #2d3544;
  padding: 33px 0px 20px;
}
.footer-bottom-area .footer-copy-right p {
  color: #888888;
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  .footer-bottom-area .footer-copy-right p {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-bottom-area .footer-copy-right p {
    margin-bottom: 20px;
  }
}
.footer-bottom-area .footer-copy-right p i {
  color: #fb246a;
}
.footer-bottom-area .footer-copy-right p a {
  color: #fb246a;
}
.footer-bottom-area .footer-copy-right p a:hover {
  color: #fff;
}
@media (max-width: 767px) {
  .footer-bottom-area .footer-social {
    float: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-bottom-area .footer-social {
    float: left;
  }
}
.footer-bottom-area .footer-social a i {
  color: #888888;
  margin-left: 13px;
  font-size: 14px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.footer-bottom-area .footer-social a i:hover {
  color: #fb246a;
}
.footer-wejed {
  padding-top: 120px;
  padding-bottom: 40px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-wejed {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-wejed {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-wejed {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .footer-wejed {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
.hero-caption span {
  color: #fff;
  font-size: 16px;
  display: block;
  margin-bottom: 24px;
  font-weight: 600;
  padding-left: 95px;
  position: relative;
}
.hero-caption span::before {
  position: absolute;
  content: "";
  width: 75px;
  height: 3px;
  background: #fb246a;
  left: 0;
  top: 52%;
  transform: translateY(-50%);
}
.hero-caption h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .job-post-company {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .job-post-company {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .job-post-company {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.post-details2 ul {
  padding-left: 30px;
}
.post-details2 ul li {
  list-style-type: circle;
}
.post-details3 {
  padding: 30px 30px 30px 30px;
  border: 1px solid #ededed;
}
.post-details3 ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.post-details3 ul li:last-child {
  margin-bottom: 50px;
}
.post-details4 span {
  color: #5b5c6e;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
  font-size: 18px;
}
.post-details4 p {
  margin-bottom: 30px;
  display: block;
}
.post-details4 ul li {
  color: #5b5c6e;
  font-weight: 700;
  font-size: 18px;
  display: block;
}
.post-details4 ul li span {
  color: #5b5c6e;
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  padding-left: 18px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .company-img-details {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .job-listing-area {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .job-listing-area {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.job-listing-area .count-job {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.job-listing-area .count-job span {
  padding-right: 15px;
  color: #1e2147;
  font-size: 16px;
}
@media (max-width: 767px) {
  .job-listing-area .count-job span {
    margin-bottom: 30px;
  }
}
.job-listing-area .count-job .select-job-items {
  display: flex;
}
.job-listing-area .count-job .select-job-items .nice-select {
  width: 100px;
  height: 30px;
  background: #fff;
  border-radius: 0px;
  padding: 10px 12px;
  color: #5d5d5d;
  line-height: 6px;
  border: 1px solid #ededed;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .job-listing-area .count-job .select-job-items .nice-select {
    margin-bottom: 20px;
    padding-left: 25px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .job-listing-area .count-job .select-job-items .nice-select {
    margin-bottom: 20px;
    padding-left: 25px;
  }
}
.job-listing-area .count-job .select-job-items .nice-select .list {
  width: 100%;
}
.job-listing-area .count-job .select-job-items .nice-select.open .list {
  width: 100%;
  border-radius: 0;
  border: 0;
}
.job-listing-area .count-job .select-job-items .nice-select::after {
  border-bottom: 1px solid #a9b6cd;

  border-right: 1px solid #a9b6cd;
  height: 8px;
  width: 8px;
  margin-top: -5px;
  right: 17px;
}
.job-category-listing {
  border: 1px solid #ededed;
  padding: 30px 19px 30px 30px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .job-category-listing {
    padding: 30px 19px 30px 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .job-category-listing {
    padding: 30px 19px 30px 16px;
  }
}
.job-category-listing .single-listing .select-job-items2 .nice-select {
  width: 100%;
  height: 45px;
  background: #fff;
  border-radius: 0px;
  padding: 11px 19px 11px 10px;
  color: #616875;
  line-height: 20px;
  border: 1px solid #ededed;
}
@media (max-width: 767px) {
  .job-category-listing .single-listing .select-job-items2 .nice-select {
    margin-bottom: 20px;
    padding-left: 25px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .job-category-listing .single-listing .select-job-items2 .nice-select {
    margin-bottom: 20px;
    padding-left: 25px;
  }
}
.job-category-listing .single-listing .select-job-items2 .nice-select .list {
  width: 100%;
}
.job-category-listing
  .single-listing
  .select-job-items2
  .nice-select.open
  .list {
  width: 100%;
  border-radius: 0;
  border: 0;
}
.job-category-listing .single-listing .select-job-items2 .nice-select::after {
  border-bottom: 1px solid #a9b6cd;
  border-right: 1px solid #a9b6cd;
  height: 12px;
  width: 12px;
  margin-top: -9px;
  right: 29px;
}
.job-category-listing .single-listing .select-Categories .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #666666;
  font-size: 16px;
}
@media (max-width: 767px) {
  .job-category-listing .single-listing .select-Categories .container {
    font-size: 14px;
  }
}
.job-category-listing .single-listing .select-Categories .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.job-category-listing .single-listing .select-Categories .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border: 1px solid #ddd;
}
.job-category-listing
  .single-listing
  .select-Categories
  .container
  input:checked
  ~ .checkmark {
  background-color: #ff4357;
  border: 2px solid transparent;
}
.job-category-listing .single-listing .select-Categories .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.job-category-listing
  .single-listing
  .select-Categories
  .container
  input:checked
  ~ .checkmark:after {
  display: block;
}
.job-category-listing
  .single-listing
  .select-Categories
  .container
  .checkmark::after {
  left: 8px;
  top: 1px;
  width: 6px;
  height: 14px;
  border: solid white;
  border-width: 0px 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.range_item p {
  margin-bottom: 0;
}
.price_value input {
  border: 0px;
  text-align: center;
  max-width: 50px;
  background-color: transparent;
}
.price_value {
  align-items: center;
}
.irs-to,
.irs-from,
.irs-max,
.irs-min {
  display: none;
}
.price_rangs_aside .l_w_title h3 {
  line-height: 20px;
  margin-bottom: 0px;
}
.irs-bar {
  height: 6px;
  top: 33px;
  border-top: 1px solid #ff3368;
  border-bottom: 1px solid #ff3368;
  background: #ff3368;
  background: linear-gradient(to top, #ff3368 0%, #ff3368 100%);
}
.irs-line {
  height: 6px;
  top: 33px;
  background: linear-gradient(to bottom, #ffeaef -50%, #ffeaef 150%);
  border: 1px solid #ffeaef;
  border-radius: 16px;
  -moz-border-radius: 16px;
}
.irs-slider {
  height: 15px;
  width: 15px;
  border: 1px solid #ff3368;
  background-color: #ff3368;
  background: linear-gradient(to bottom, #ff3368 0%, #ff3368 20%, #ff3368 100%);
  top: 28px;
  box-shadow: none;
  border-radius: 0;
}
@media (max-width: 991px) {
  .product_bar_item {
    width: 100% !important;
  }
}
@media (max-width: 991px) {
  .product_top_bar {
    margin-top: 70px;
  }
  .product_top_bar h2 {
    font-size: 25px;
  }
  .product_bar_single {
    margin-left: 0;
    margin-right: 5px;
  }
  .product_bar_single .nice-select {
    padding-left: 15px;
    padding-right: 35px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .pagination-area {
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pagination-area {
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .pagination-area {
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .pagination-area {
    padding-bottom: 50px;
  }
}
.pagination-area .page-item {
  margin: 0;
}
.pagination-area .page-item:first-child {
  margin: 0;
}
.pagination-area .page-link {
  border: 0;
  font-size: 15px;
  text-align: center;
  background: none;
  box-shadow: none;
  outline: 0;
  color: #777777;
  padding: 11px 12px;
  background: #fff;
  margin: 0 3px;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
}
.pagination-area .page-link:hover {
  color: #fb246a;
}
.pagination-area .page-item.active .page-link {
  z-index: 1;
  border: 0;
  position: relative;
  box-shadow: none;
  outline: 0;
  background: #242b5e;
  color: #fff;
}
